{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{attributes.addClass(classes)}}>
	<div class="container-area">
		<div class="sous-container-area flex m-0 p-0">
            {# LEFT #}
			<div class="left-area">
				<div class="text-top-left grid">
					{{ content.field_texte_wysiwyg }}
				</div>

				{% if paragraph.field_3_visuels|length > 1 %}
					{% set image2 = paragraph.field_3_visuels.1.entity %}
					{% if image2 and image2.field_media_image.entity %}
						<div class="img-bottom-left">
							<img src="{{ file_url(image2.field_media_image.entity.uri.value) }}" alt="{{ image2.field_media_image.alt }}" class="w-full h-full max-h-[100%] object-cover">
						</div>
					{% endif %}
				{% endif %}
			</div>

            {#  RIGHT #}
			<div class="right-area">
				{% if paragraph.field_3_visuels|length > 0 %}
					{% set image1 = paragraph.field_3_visuels.0.entity %}
					{% if image1 and image1.field_media_image.entity %}
						<div class="img-top-right">
							<img src="{{ file_url(image1.field_media_image.entity.uri.value) }}" alt="{{ image1.field_media_image.alt }}" class="w-full h-full object-cover">
						</div>
					{% endif %}
				{% endif %}

				{% if paragraph.field_3_visuels|length > 2 %}
					{% set image3 = paragraph.field_3_visuels.2.entity %}
					{% if image3 and image3.field_media_image.entity %}
						<div class="img-bottom-right">
							<img src="{{ file_url(image3.field_media_image.entity.uri.value) }}" alt="{{ image3.field_media_image.alt }}" class="w-full h-full object-cover">
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
