
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
    set classes = [
    'layout-grid',
    'my-16',
    'paragraph',
    'px-0',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% import '@base_theme/macros/macros.html.twig' as macros %}

<div{{ attributes.addClass(classes) }}>
    <div class="col-span-6 flex flex-col justify-center items-center">
        <div class="overflow-hidden w-full flex justify-center items-center div_img">
            {{ content.field_visuel }}
        </div>
    </div>
    
    <div class="col-span-6 grid content-center">
        {% if content.field_titre_h2 and content.field_titre_h2["#object"].field_titre_h2.value is defined and content.field_titre_h2["#object"].field_titre_h2.value is not empty %}
            <h2 class="h3 text-img-title justify-self-center">{{ content.field_titre_h2["#object"].field_titre_h2.value }}</h2>
        {% endif %}

        {% if content.field_texte_wysiwyg %}
            <div class="my-6 text-img ck-content">
                {{ content.field_texte_wysiwyg }}
            </div>
        {% endif %}

        {% if  content.field_bouton[0]['#url'] %}
            <div class="flex justify-center">
                {% set link = macros.get_clean_url(content.field_bouton)|trim %}
                <a
                    target="{{ content.field_bouton[0]['#url'].options.attributes.target }}"
                    href="{{ link }}"
                    class="button-class"
                    title="{{ content.field_bouton[0]['#title'] }}"
                >{{ content.field_bouton[0]['#title'] }}</a>
            </div>
        {% endif %}
    </div>
</div>
