{% import '@base_theme/macros/macros.html.twig' as macros %}

{% if hover is not defined %}
    {% set hover = "hover:text-tertiary-200" %}
{% endif %}

<div class="flex items-center space-x-4">
    <div class="social-links flex items-center space-x-4 h-10">
        {% for item in content.field_social_links %}
            {% if item['#paragraph'] is defined %}
                {% set paragraph = item['#paragraph'] %}
                
                {# Vérifie si les champs existent #}
                {% if paragraph.field_social_picto is defined and paragraph.field_social_link is defined %}
                    {% set picto = paragraph.field_social_picto[0].value %}
                    {% set link = macros.get_clean_url(paragraph.field_social_link)|trim %}
                    {% set title = paragraph.field_social_link[0].title %}

                    {% if title %}
                        <a href="{{link}}" class="no-underline border-2 border-secondary-200 text-secondary-200 rounded flex justify-center items-center p-1 md:p-2">
                            <span class="inline-block no-underline text-secondary-400 {{ hover }}">{{ title }}</span>
                        </a>
                    {% else %}
                            
                        <a href="{{link}}" class="no-underline text-secondary-400 {{ hover }} min-w-[40px] md:min-w-[50px]">
                            {{ picto|raw }}
                        </a>
                    {% endif %}

                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
